<div class="row">
  <div class="col-xs-12">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ recipe.imagePath }}"
          alt="{{ recipe.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              *ngFor="let ingredient of recipe.ingredients"
            >
              {{ ingredient.name }}
              <span class="badge badge-primary badge-pill">
                {{ ingredient.amount }}</span
              >
            </li>
          </ul>
          <div class="btn-group py-3" role="group" aria-label="Form controls">
            <button
              class="btn btn-success"
              type="button"
              (click)="onAddToShoppingList()"
            >
              To Shopping list
            </button>
            <button class="btn btn-danger" type="button">Edit Recipe</button>
            <button class="btn btn-primary" type="button">Delete recipe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
