<div class="row">
  <div class="col-xs-12">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.pixabay.com/photo/2016/06/15/19/09/food-1459693_960_720.jpg"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title">Test recipe</h5>
          <p class="card-text">This is just a test :D</p>
          <a href="#" class="btn btn-primary dropdown-toggle">Manage recipe</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">To Shopping list</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Edit Recipe</a>
            <a class="dropdown-item" href="#">Delete recipe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
