a {
  text-decoration: none;
  cursor: pointer;
  color: #212529;
}

.card,
.card-img-top,
.btn,
.form-control {
  border-radius: 30px;
}

.cardActive {
  -webkit-box-shadow: 5px 5px 30px -10px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 30px -10px rgba(0, 0, 0, 0.55);
}
